body{
    padding: 0px;
    margin: 0px;
}
.container{
    width: 900px;
    padding: 10px;
    display: flex;
    position: absolute;
    top: 300px;
    left: 450px;
    flex-wrap: wrap;
    justify-content: space-between;
}
h3{
    position: absolute;
    top: 100px;
    left: 550px;
    font-size: 60px;
}
p{
    border: black solid 3px;
    width: 200px;
    height: 350px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 300;
    font-family:Arial, Helvetica, sans-serif
}
.logout #logout img{
    position: relative;
    top:18px;
    left:1600px;
}